<footer th:fragment="footer" href="/"
	class="page-footer font-small pt-4">
	<div class="container text-center text-md-left">
		<div class="row d-flex align-items-center">
			<div class="col-md-7 col-lg-8">
				<p class="text-center text-md-left">
					© 2020 Copyright: <strong> miravisuals.com</strong>| All content
					are free for commercial use | <a href="/public/avisolegal">Aviso
						Legal</a>
				</p>
			</div>
			<div class="col-md-5 col-lg-4 ml-lg-0">
				<div class="text-center text-md-right">
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item"><a
							class="btn-floating btn-sm rgba-white-slight mx-1"
							href="https://www.facebook.com/mira.visuals.56" target="_blank">
								<img src="/imagenes/facebook.png" width="40px" height="40px">
						</a></li>
						<li class="list-inline-item"><a
							class="btn-floating btn-sm rgba-white-slight mx-1"
							href="https://twitter.com/VisualsMira" target="_blank"> <img
								src="/imagenes/twitter.png" width="40px" height="40px">
						</a></li>
						<li class="list-inline-item"><a
							class="btn-floating btn-sm rgba-white-slight mx-1"
							href="https://www.instagram.com/mira.visuals/" target="_blank">
								<img src="/imagenes/insta.png" width="40px" height="40px">
						</a></li>
						<li class="list-inline-item"><a
							class="btn-floating btn-sm rgba-white-slight mx-1"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>